extends layout

block content
    h1= title

    // Wrapper
    #wrapper


        //PASSWORD
        #passwordPanel
            #password
                fieldset
                    h2 Change Password
                    input#inputLoginUsername(type='text', placeholder='Username')
                    br
                    input#inputOldPassword(type='password', placeholder='Old Password')
                    br
                    input#inputNewPassword(type='password', placeholder='New Password')
                    br
                    input#inputNewPassword2(type='password', placeholder='Repeat New Password')
                    br
                    button#btnChangePassword Change Password
        // /PASSWORD

        
    // /WRAPPER