extends layout

block content

    // Wrapper
    #wrapper

        //LOGIN
        #loginPanel
            #login
                fieldset
                    h2 Login
                    input#inputLoginUsername(type='text', placeholder='Username')
                    br
                    input#inputLoginPassword(type='password', placeholder='Password')
                    br
                    button#btnLogin Log In
                    br
                    a(href='/resetPassword') Forgotten Password?


                    

                
        // /LOGIN

  



        
    // /WRAPPER