
extends layout

block content

    // Wrapper
    #wrapper

        // STATS
        h2 Pay Info
        #payInfo
            table
                thead
                    th 
                    th Total
                    th Due
                    th Overdue
                tbody
        // /STATS

        // PAY
        
        #payEmployees
            h2 Pay Employees
            fieldset
                br
                button#btnPayEmployees Pay Employees
        // /PAY


    // /WRAPPER