extends layout

block content
    h1= title

    // Wrapper
    #wrapper


        // POST TIME CARD
        h2 POST TIME CARD
        #postTimeCard
            fieldset
                
                    p Time Worked
                    input#inputTimeWorked(type='text', placeholder='Hours Worked Today')
                    br
                    button#btnPostTimeCard Post Time Card
        // /POST TIME CARD

    // /WRAPPER