
extends layout

block content
    h1= title

    // Wrapper
    #wrapper


        // USER LIST
        h2 Employee List
        #userList6
            table
                thead
                    th Email
                    th Delete
                tbody
        // /USER LIST



    // /WRAPPER