
extends layout

block content
    h1= title

    // Wrapper
    #wrapper


        // RESET PW
        
        #resetPassword
            h2 Reset Password
            fieldset
                p Email 
                input#inputEmail(type='text', placeholder='Email')
                br
                button#btnResetPassword Reset Password
        // /RESET PW

    // /WRAPPER