
extends layout

block content
    h1= title

    // Wrapper
    #wrapper

        // VIEW USERS
        h2 View Specific Pay Groups
        #viewType
       
            table
                thead
                    th Weekly
                    th Commision
                    th Salary
                    th All
                tbody
                    tr 
                    td 
                        a(href='#' class='W') View Weekly Employees
                    td 
                        a(href='#' class='C') View Commision Employees
                    td
                        a(href='#' class='S') View Salary Employees
                    td
                        a(href='#' class='A') View All Employees
                    
                    
        // /VIEW USERS


        // USER LIST
        h2 User List
        #userList
        
            table
                thead
                    
                    th Email
                    th First Name
                    th Initial
                    th Last Name
                    th DOB
                    th Street Number
                    th Street
                    th Suburb
                    th Contact
                    th Gender
                    th Pay Type
                    th Hourly Rate
                    th Commision Rate
                    th Monthly Salary
                    th Target Hours
                tbody
        // /USER LIST


        // USER LIST1
        #userListW
        
            table
                thead
                    
                    th Email
                    th First Name
                    th Initial
                    th Last Name
                    th DOB
                    th Street Number
                    th Street
                    th Suburb
                    th Contact
                    th Gender
                    th Pay Type
                    th Hourly Rate
                tbody
        // /USER LIST1

        // USER LIST 2
        #userListC
        
            table
                thead
                    
                    th Email
                    th First Name
                    th Initial
                    th Last Name
                    th DOB
                    th Street Number
                    th Street
                    th Suburb
                    th Contact
                    th Gender
                    th Pay Type
                    th Commision Rate
                    th Monthly Salary
                    th Target Hours
                tbody
        // /USER LIST2

        // USER LIST3
        #userListS
        
            table
                thead
                    
                    th Email
                    th First Name
                    th Initial
                    th Last Name
                    th DOB
                    th Street Number
                    th Street
                    th Suburb
                    th Contact
                    th Gender
                    th Pay Type
                    th Monthly Salary
                    th Target Hours
                tbody
        // /USER LIST3

    // /WRAPPER