
extends layout

block content
    h1= title

    // Wrapper
    #wrapper


        // TIME CARDS
        h2 Pay Cards
        #payCards
            table
                thead
                    th Date 
                    th Email
                    th Amount
                    th Email Pay Card
                tbody
        // /TIME CARDS

    // /WRAPPER