
extends layout

block content
    h1= title

    // Wrapper
    #wrapper


        // TIME CARDS
        h2 New Time Cards
        #timeCards
            table
                thead
                    th Email
                    th Amount
                    th Date 
                    th Accept Time Card
                    th Postpone Time Card
                tbody
        // /TIME CARDS


        // TIME CARDS2
        h2 Postponed Time Cards
        #timeCards2
            table
                thead
                    th Email
                    th Amount
                    th Date
                    th Accept Time Card
                tbody
        // /TIME CARDS2

    // /WRAPPER